.step_5 {
  padding-top: 20%;
  text-align: center;
  .thankyou_icon {
    &-box {
      margin-bottom: 2.4rem;
    }
    .heading-primary{
        margin-bottom: 1.6rem !important;
    }
  }

  .success_text {
    color: $Cool-gray;
    padding: 0 3.2rem;
    font-weight: 400;

  }
}
