.step_4 {
  .final_bill-box {
    margin-top: 6%;
    @include respond(phone) {
      padding: 0 2rem;
    }
    .item {
      display: flex;
      justify-content: space-between;
      align-items: center;
      &:not(:last-child) {
        margin-bottom: 1.6rem;
      }
      &_list {
        background-color: $Magnolia;
        border-radius: 0.6rem;
        padding: 2rem;
      }
      &.addon {
        color: $Cool-gray;
        font-size: 1.4rem;
      }
      .price {
        font-weight: 500;
        color: $Marine-blue;
      }
      .name {
        font-weight: 500;
      }
      &.plan {
        color: $Marine-blue;
        font-size: 1.6rem;
        border-bottom: 0.1rem solid rgba($Light-gray, 0.5);
        padding: 0 0 2rem;
        .name,
        .price {
          font-weight: 700;
          display: block;
        }

        .change-link {
          color: $Cool-gray;
          font-weight: 400;
          font-size: 1.4rem;
          display: inline-block;
          text-decoration: none;
          border-bottom: 0.2rem solid $Cool-gray;
        }
      }
    }

    .total {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 3.2rem 2rem 2rem;
      @include respond(phone) {
        padding: 2.4rem 2rem;
        font-weight: 500;
      }
      .txt {
        color: $Cool-gray;
      }
      .price {
        color: $Purplish-blue;
        font-weight: 700;
        font-size: 2.4rem;
        @include respond(phone) {
          font-size: 2rem;
        }
      }
    }
  }
}
