.step_1 {
  .navigation-btns {
    @include respond(phone) {
      padding-left: 64%;
    }
  }

  .form {
    @include respond(phone) {
      padding: 2rem 2rem 3.2rem;
    }
    &_group {
      &:not(:last-child) {
        margin-bottom: 2rem;
        @include respond(phone) {
          margin-bottom: 1.4rem;
        }
      }
    }
    &_label {
      display: block;
      color: $Marine-blue;
      margin-bottom: 0.6rem;
      @include respond(phone) {
        font-weight: 500;
        font-size: 1.4rem;
        margin-bottom: 0.4rem;
      }
    }
    &_control {
      border: 0.3px solid rgba($Light-gray, 1);
      border-radius: 0.6rem;
      outline: none;
      width: 100%;
      padding: 0.4rem 1rem;
      height: 4rem;
      &::placeholder {
        color: $Cool-gray;
        font-size: 1.6rem;
        font-weight: 500;
        @include respond(phone) {
          font-weight: 700;
          font-size: 14px;
        }
      }
    }
  }
}
.step_1,
.step_2 {
  @include respond(phone) {
    position: absolute;
    top: -12%;
    width: 92%;
    margin: 0 4%;
    background-color: $White;
    border-radius: 0.8rem;
  }
}
