.container {
  width: 65%;
  height: 75%;
  margin: 6% auto 0;
  background-color: $White;
  padding: 1rem;
  display: flex;
  border-radius: 1rem;
  @include respond(phone) {
    flex-direction: column;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
  }
}
.main {
  padding: 4.8rem 9.6rem;
  width: 75%;
  position: relative;
  @include respond(phone) {
    width: 100%;
    margin: 0;
    padding: 0;
    height: 77%;
    background-color: $Magnolia;
  }

  .heading {
    &-primary {
      color: $Marine-blue;
      font-weight: 700;
      font-size: 3.2rem;
      margin-bottom: 1rem;
      @include respond(phone) {
        padding: 3rem 0 0 2rem;
        margin-bottom: 1.6rem;
        font-size: 3rem;
      }
    }
    &-desc {
      color: $Cool-gray;
      font-weight: 400;
      font-size: 1.6rem;
      margin-bottom: 3rem;
      @include respond(phone) {
        padding: 0 2rem;
        margin-bottom: 0.4rem;
        line-height: 1.5;
      }
    }
  }
}
.step_1,
.step_2,
.step_3,
.step_5,
.step_4 {
  @include respond(phone) {
    position: absolute;
    top: -12%;
    width: 92%;
    margin: 0 4%;
    background-color: $White;
    border-radius: 0.8rem;
  }
}
